.checkbox {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px; 
}

.checkbox-container {
    width: 16px;
    height: 16px;
    display: block;
    position: relative;
    user-select: none;
    cursor: pointer;

    color: var(--dark-primary-color);
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid rgba(220, 220, 220, 1);
    border-radius: 2px;
    transition: all 0.3s;
}

/* При наведении меняем фон */
.checkbox-container:hover input ~ .checkmark {
    background-color: transparent;
    border: 1px solid rgba(220, 220, 220, 1);
}

/* Когда чекбокс отмечен */
.checkbox-container input:checked ~ .checkmark {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

/* Создаем галочку (скрытую, когда не отмечено) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Показываем галочку, когда отмечено */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Стиль галочки */
.checkbox-container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}