@font-face {
    font-family: 'Clash Display';
    src: url('/public/font/ClashDisplay-Regular.otf') format('truetype');
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/public/font/Satoshi-Regular.otf') format('truetype');
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    font-style: normal;
}

:root {
    --dark-primary-color: rgba(42, 37, 75, 1);
    --primary-color: rgba(78, 77, 147, 1);
    --light-gray-color: rgba(249, 249, 249, 1);
    --border-gray-color: rgba(235, 232, 244, 1);
    --white-color: rgba(255, 255, 255, 1);
    --border-dark-color: rgba(202, 198, 218, 1);
    --logo-color: #22202E;
    --light-color-txt: #726E8D;
    --medium-color-txt: #505977;
    --dark-color-txt: #2A254B;

    --main-font: 'Clash Display';
    --other-font: 'Satoshi';

}

header {
    line-height: 100%;
}

main {
    line-height: 150%;
}

h1,h2,h3,h4,h5,h6, .logo-txt {
    font-family: var(--main-font);
}

h1 {
    font-size: 36px;
    line-height: 140%;
}

h2 {
    font-size: 32px;
    line-height: 150%;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

.body-small-txt, .body-medium-txt, .body-large-txt {
    /* line-height: 150%; */
    font-family: var(--other-font);
}

.body-small-txt {
    font-size: 14px;
}

.body-medium-txt {
    font-size: 16px;
}

.body-large-txt {
    font-size: 18px;
}

.logo-txt {
    font-size: 24px;
    line-height: 100%;
    color: var(--logo-color);
}

.divider {
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid var(--border-gray-color);
}

.header-container {
    display: flex;
    width: 100%;
}

.container {
    margin: 0 80px;
}

.hero-container {
    margin: 0 80px;
}

.hero {
    display: inline-flex;
    justify-content: space-between;

    height: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    color: var(--white-color);
    background-color: var(--dark-primary-color);
}

.hero img {
    max-width: 520px;
}

.hero-right {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin: 60px;
}

.hero-right h2 {
    max-width: 513px;
}

.hero-right button {
    margin-top: 40px;
    margin-bottom: 196px;
}

@media (max-width: 1200px) {
    .hero-container {
        margin: unset;
    }
}

@media (max-width: 1000px) {
    .container {
        margin: 0 40px;
        padding: 0 24px;
    }

    /* Hero */

    .hero-container {
        margin: unset;
        padding-left: 24px;
    }

    .hero-right {
        margin: unset;
        margin-top: 40px;
        margin-bottom: 24px;
    }

    .hero img {
        width: calc(100% / 2);
    }
}

@media (max-width: 768px) {

    .container {
        margin: unset;
        padding: 0 24px;
    }

    /* Hero */

    .hero-container {
        padding: 0 24px;
    }
    
    .hero img {
        display: none;
    }

    .hero-right h2 {
        order: 1;
    }

    .hero-right button {
        order: 3;
        margin: unset;
    }

    .hero-right p {
        order: 2;
        margin-top: 80px;
        margin-bottom: 32px;
    }
}

@media (max-width: 390px) {

    /* Hero */
    
    .hero img {
        display: none;
    }
}

