input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0) inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

.primary-input input:-webkit-autofill,
.primary-input input:-webkit-autofill:hover, 
.primary-input input:-webkit-autofill:focus,
.primary-input input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--dark-primary-color) !important;
}

.opaque-input input:-webkit-autofill,
.opaque-input input:-webkit-autofill:hover, 
.opaque-input input:-webkit-autofill:focus,
.opaque-input input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--white-color) !important;
}

form {
    display: flex;
    width: 100%;
}

input {
    outline: none;
    font-family: var(--main-font);
}


input[type='email'] {    
    height: 100%;
    width: 100%;
    padding: 17px 32px;
}

input[type='submit'] {
    height: 100%;
    max-width: 118px;
    padding: 17px 32px;
}

.primary-input input[type='email'] {
    color: rgba(42, 37, 75, 0.5);
    background-color: var(--light-gray-color);
}

.primary-input input[type='submit'] {
    color: var(--white-color);
    background-color: var(--dark-primary-color);
}

.opaque-input input[type='email'] {
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.15);
}

.opaque-input input[type='submit'] {
    color: var(--dark-primary-color);
    background-color: var(--white-color);
}

.search-input {
    border-bottom: 1px solid var(--dark-primary-color);
}

.search-input input[type='search'] {
    height: 100%;
    width: 100%;
    padding: 8px 14px;
    color: var(--medium-color-txt);
    background-color: transparent;
}

.search-input button {
    max-width: 50px;
    padding: 0;
    /* filter: brightness(10); */
}

.num-input[type="number"] {
  width: 100%;
  height: 50px;
  border: 1px solid var(--light-gray-color);  
  border-radius: 4px;
  background-color: var(--light-gray-color);
  padding: 8px;
  font-size: 16px;
  outline: none;
  appearance: textfield;
  -moz-appearance: textfield;
}

/* Убирает стрелки в Chrome, Safari, Edge */
.num-input[type="number"]::-webkit-outer-spin-button,
.num-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Отключает все состояния :hover, :active, :focus */
.num-input[type="number"]:hover,
.num-input[type="number"]:active,
.num-input[type="number"]:focus {
  border: 1px solid var(--border-gray-color); /* Оставляем ту же рамку */
  box-shadow: none;      /* Убираем тени */
  outline: none;         /* Убираем контур фокуса */
}