button {
    width: fit-content;
    padding: 16px 32px;
}

button :first-child {
    line-height: 150%;
}

.secondary-btn {
    
    background-color: #f1f1f5;
    color: var(--dark-primary-color)
}

.opaque-btn {
   background-color: rgba(249, 249, 249, 0.15); 
   color: var(--white-color);
}

.primary-btn {
    background-color: var(--dark-primary-color);
    color: var(--white-color)
}

.white-btn {
    background-color: var(--white-color);
    color: var(--dark-primary-color)
}

.filter-content button {
    width: 100%;
    padding: 10px;
}

.nav-btn {
    position: relative;
    padding: 0;
    margin: 0;
    max-width: 16px;
}

@media (max-width: 768px) {
    button {
        width: 100%;
    }
}

@media (max-width: 490px) {

    button {
        width: 100%;
    }
}